<header>
	<div class="left">
		<button class="submit" title="Ctrl-E: Submit code and run on server">Save</button>
		<button class="run" title="Ctrl-Enter: Run code locally">Run locally</button>
	</div>
	<div class="center"></div>
	<div class="right">
		<div class="status">connecting</div>
	</div>
</header>
<main>
	<div id="code">
		<div class="editor"><textarea id="" cols="30" rows="10">function step(player, board) {
		return {
			x: player.x + 1,
			y: player.y + 1
		};
	}</textarea></div>
		<div class="console">
			<div class="resize"></div>
			<div class="content"></div>
		</div>
	</div>
	<div id="state">
		<div class="timer bar"><div></div></div>
		<div class="resume">
			Board frozen, click to resume
		</div>
		<div class="board waiting">
			<div class="status">waiting on board state</div>
			<canvas id="board"></canvas>
		</div>
		<div class="info">mouse over the board to view information</div>
		<div class="coverage bar">
			<div class="red"></div>
			<div class="green"></div>
			<div class="blue"></div>
		</div>
		<div class="documentation">
			Some documentation about how code can be used and stuff.
		</div>
	</div>
</main>

<link rel="stylesheet" href="/more.css">

<script src="/socket.io/socket.io.js"></script>
<script src="/min.js"></script>
<script src="/script.js"></script>
