@pad: 7px;
@red: red;
@blue: blue;
@green: green;

body, input, button, .CodeMirror-lint-tooltip {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: white;
	color: black;
	padding: @pad;
}

input, button {
	font-weight: normal;
	border: 1px solid;
	padding: @pad 2*@pad;
	border-radius: 2px;
}

button {
	cursor: pointer;
}

html, body, body > div {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	> div {
		display: flex;
		flex: 1;
		flex-direction: column;
		> div {
			display: flex;
			margin-top: @pad;
			padding: 0 @pad;
		}
	}
}

.bar {
	height: 10px;
	font-size: 0;
	margin-bottom: @pad;
	> div {
		height: 100%;
		width: 0;
		background: grey;
	}
	.red {
		background: @red;
	}
	.blue {
		background: @blue;
	}
	.green {
		background: @green;
	}
}

#code {
	.status {
		.save {
			flex-grow: 1;
		}
		button {
			margin-left: @pad;
		}
	}
	.editor {
		flex: 1;
		padding: 0;
		.CodeMirror {
			width: 100%;
			height: 100%;
		}
	}
	.console {
		display: block;
		padding: @pad;
		height: 300px;
		background: #444;
		color: white;
		overflow-y: scroll;
		overflow-x: auto;
		.repeat {
			float: right;
			font-size: 0.8em;
		}
		pre {
			margin: 0;
			padding-bottom: @pad;
		}
	}
}

.CodeMirror-lint-tooltip {
	display: block;
	flex: auto;
	height: auto;
}

#state {
	.timer.bar {
		height: 2px;
		transition: width 0.05s ease-out;
	}
	.board {
		position: relative;
		.status {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			transform: translateY(-50%);
		}
		&.loaded .status {
			display: none;
		}
		canvas {
			max-width: 100%;
		}
	}
	.documentation {
		flex-grow: 1;
		overflow-y: scroll;
	}
}
